<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Hilbert Space LLC is founded by data science and machine learning practitioners who have been 
            in this field over a decade. We provide affordable end-to-end data science and machine learning
            services in e-commerce, marketing, supply chain, weather, climate and many others fields.</p>
      </div>
      <div class="col-lg-4">
        <p> We are specialized in data analysis, data pipeline implementation, machine learning model development
            and deployment, end-to-end machine learning operations (MLOps) platform setup. Whether you or your team just start trying to get real values from tons of data, struggle to put
            research models into production, or reduce operational cost for the models already in production.
            We are here to help!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <!-- <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a> -->
      </div>
    </div>
  </div>
</section>
